<div class="container">
    <div class="row d-flex mb-5 color-white">
        <ygr-header></ygr-header>
    </div>
    <div class="row m-5 p-5">
        <ygr-carousel></ygr-carousel>
    </div>
    <div class="row">
        <h3 class="color-black">What's new?</h3>
        <hr>
    </div>
    <div class="row">
        <div class="col col-11 mt-3 d-block float-right"></div>
        <div class="col col-1">
            See all
        </div>
    </div>
    <div class="row">
        <ygr-card-deck maxEntries="3"></ygr-card-deck>
    </div>

</div>